{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ url("app_reservation") }}">Réserver un Vehicule</a>
    <a href="{{ url("app_vehicle") }}">Liste des véhicules</a>
{% endblock %}
